/* Standard Elements */
h1 {
    margin: 20px;
    text-align: left;
}

p {
    text-align: left;
    margin: 20px;
}

/* Landing Classes */
.landing-container {
    display: flex;
    flex-direction: column;
    width: 90%; 
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.actions-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

@media only screen and (max-width: 768px) {
    .actions-container-sm {
      flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .action-container-sm {
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;      
      margin-bottom: 20px;
      margin-right: 10px;
    }
}

.carbon-button-container {
    align-self: center;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: calc(0.9em + 0.75vw);
}

.action {
    font-weight: bold;
    border-radius: 4px;
    text-align: left;    
    vertical-align: middle;
}

/* Animations */
:root {
    --animate-delay: 2s;
  }


  /*   F7D978  - Yellow
EBC156 - another yellow
#13ee71  - light green
B23F58  - red / pine
F7F7F1 - white
323D68 - dark blueA
31AA1C - dark green
AB1116 - bright red
F43423 - red
EF7622 - orange
E8BE4E - yellow
FBD415 - bright yellow */