.avatar {
    position: relative;
    top: -20px; 
    margin: auto;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.16);
    width: 70px;
    border-radius: 50%;
}

.avatar-img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.stats {
    margin:auto;
}
.profile-desc {
    width: 20%
}
.analyze-container {
width: 90%; 
padding-top: 40px;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
}

.profile-container {
    border: 0.1px solid #f7f7fa;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    border-radius: 4px;
    width: 20%;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

.graphs-container {
    border: 0.1px solid #f7f7fa;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    border-radius: 4px;
    width: 90%; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; 
}

.leaders-container {
    border: 0.1px solid #f7f7fa;
    box-shadow: 0px 8px 24px rgba(13,13,18,0.04);
    border-radius: 4px;
    width: 25%; 
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: auto;
} 