h2 {
    margin: 10px;
    text-align: left;
}

.track-container {
    width: 100%;
    height: 100%;
    /*border-bottom: #31AA1C solid 1px;*/
}

.chart-container {
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.container-data {
    align-items: center;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .chart-container-sm {
        display: none;
    }
}

.font-sm {
    font-size: calc(1vw + 1vh + 0.5vmin);
}