h2 {
    margin: 10px;
    text-align: left;
}

.track-container {
    display: flex;
    width: 100%;
    /*height: 100%;*/
    align-items: center;
    justify-content: center
}

.chart-container {
    align-items: center;
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.container-data {
    align-items: center;
    padding: 10px;
}

.table-track {
    border: none;
}

.th-align {
    text-align: right;
}

.diet-select {
    border:0px;
    outline:0px;
}

td {
    white-space:nowrap;
}
.cell-co2 {
    font-weight: bold;
    text-align: right;
}
.cell-distance {
    text-align: right;
}
.input-distance {
    text-align: right;
    width: 80px;
}
.cell-button {
    text-align: right;
}

.button-day-container {    
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.button-white {
    color: black;
    background-color: white;
    border: 0px white;
}

/*
@media only screen and (max-width: 992px) {    
    .chart-container-sm {
        display: none;
    }
}
*/

