h2 {
    margin: 10px;
    text-align: left;
}

/* Questionaire Classes */

.questionaire-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.quest-main-container {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    flex: 2 2 45%;
    padding: 10px;
    justify-content: space-between;
}

.quest-info-container {
    display: flex;
    border: 1px black solid;
    flex: 3 3 55%;
}

.quest-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quest-btn {
    margin: 0px 0px;
    padding: 2px 4px;
}

.quest-radio-group {
    display: flex;
    flex-direction: column;
    align-self: center;    
}

.quest-radio-item {
    display: flex;
    flex-direction: row;  
    font-size: calc(0.5em + 0.6vh + 0.6vh);
    margin: 10px;
    align-items: baseline;  
    cursor: pointer;
}

/* Hide the browser's default radio button */

.quest-radio-item input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */

.checkmark {
    height: calc(0.4em + 0.6vh + 0.6vh);
    width: calc(0.4em + 0.6vh + 0.6vh);
    background-color: #eee;
    border-radius: 50%;  
    align-self: center;
}

/* On mouse-over, add a grey background color */

.quest-radio-item:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.quest-radio-item input:checked~.checkmark {
    background-color: #31AA1C;
    border-color: #31AA1C;
}

@media only screen and (max-width: 900px) {
    .quest-info-container-sm {
        display: none;
    }
}

.quest-font-md {
    font-size: calc(1em + 0.5vw + 0.3vh);
}

.quest-font-sm {
    font-size: calc(0.6em + 0.3vh + 0.3vh);
}